@font-face {
  font-family: "iconfont"; /* Project id 4535486 */
  src: url('iconfont.woff2?t=1715302906993') format('woff2'),
       url('iconfont.woff?t=1715302906993') format('woff'),
       url('iconfont.ttf?t=1715302906993') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chart-pie:before {
  content: "\e902";
}

.icon-chart-line:before {
  content: "\e67e";
}

.icon-chart-location:before {
  content: "\e61a";
}

.icon-chart-stock:before {
  content: "\e63b";
}

.icon-chart-bar:before {
  content: "\e6c0";
}

